.parentContainer{
    display: flex;
    justify-content: flex-start;
    position: relative;
}


.quizContainer{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    flex: 1 1 70%;
}

.enroll{
    display: flex;
    margin-bottom: 1rem;
}

.enroll input{
    height: 2rem;
    margin-right: 1rem;
    width: 30%;
}

.enroll button{
    padding: 0.5rem;
    background-color: blueviolet;
    color: white;
    border:none;
    border-radius: 0.25rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}