.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heading {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-around;
    color: #757575;
    border-bottom: 3px solid #e9ecf0;
    }

.heading button{
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #926dde;
    color: white;
    border-color: #926dde;
    border:none;
    border-radius: 0.25rem;
}    

.navcontainer{
    width:30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

@media only screen and (max-width: 720px){
.navcontainer{
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 2rem;
}

}

@media only screen and (max-width: 420px){
    .navcontainer{
        grid-template-columns: 1fr 1fr;
        padding-right: 2rem;
}
    
}



.Qcontainer{
 display: inline-flex;
 justify-content: center;
 padding: 1rem;
 border:1px solid #e9ecf0;
 border-radius:35%;
 margin:0.5rem;
 cursor: pointer;
 color: #757575;
 background-color: #e9ecf0;
 max-width: 25px;
}

.Qselected{
 display: inline-flex;
 justify-content: center;
 padding: 1rem;
 border:1px solid #926dde;
 border-radius:35%;
 margin:0.5rem;
 cursor: pointer;
 color: #fff;
 background-color: #926dde;
 max-width: 25px;
}

.Qbookmark{
 display: inline-flex;
 justify-content: center;
 padding: 1rem;
 border:1px solid #50E3C2;
 border-radius:35%;
 margin:0.5rem;
 cursor: pointer;
 color: #fff;
 background-color: #50E3C2;
 max-width: 25px;
}

.Qcontainer:focus{
    color: #fff;
    background-color: #926dde;
    border-color: #926dde;
}

